In [21]:
rows=int(input("Enter number of rows="))
for i in range(1, rows + 1):
    print('*' * i)

Enter number of rows= 5

*
**
***
****
*****

In [40]:
n=int(input("Enter numbers of Columns="))

for i in range(n, 0, -1):
    print("*" * i)

Enter numbers of Columns= 5

*****
****
***
**
*

In [46]:
n = int(input("Enter the number of rows: "))
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

Enter the number of rows:  4

1
1 2
1 2 3
1 2 3 4

In [74]:
n=int(input("Enter number of columns="))
for i in range(1,n):
    for j in range(1,):
        print(j,end=" ")
    print()

Enter number of columns= 4

0

In [78]:
for i in range(1,4+1):
    for j in range(1,i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [79]:
count =1
for i in range(1,4+1):
    for j in range(1,i+1):
        print(count, end=" ")
        count+=1
    print()

1
2 3
4 5 6
7 8 9 10